/* Custom properties/variables  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
}



:root {
  --main-white: #F1EDED;
  --main-purple: #4061D2;
  --main-black: #292637;
  --main-teal: #39D8DE;
}

/* Title for Scope headers */
h8 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}




a {
  text-decoration-color: var(--main-teal);
}

/* Main Class for card titles */

a.main:link{
  color: var(--main-white);
 font-size: 1.35rem;
 text-transform: uppercase;
}

a.main:visited {
  color: var(--main-white);
  font-size: 1.35rem;
 text-transform: uppercase;
}

a.main:hover {
  color: var(--main-white);
  font-size: 1.35rem;
 text-transform: uppercase;
}

/* Title and Description for Work and Projects section */


#title {
  font-size: 3em;
}

.description {
font-size: 1.5em;
}

.description-2 {
  font-size: 1rem;
  }

.title {
  padding-left: 85px;
  margin: 0;

}

.grid-padding {
  padding: 2em 2em 0 2em;
}

.preview-image {

border-radius: 1em 1em 0 0;}

/* Cards */

#card {
  
  background-color: var(--main-white);
  border: solid var(--main-teal) 1px;
}

#card2 {
  background-color: #4f4969;
  border: solid var(--main-teal) 1px;
}

.card:hover {
  box-shadow: 0px 3px 15px rgba(230, 230, 230,0.3);

}

.card-title:link {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1.2em;
  text-align: center;

}

.card-title:visited {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
}


.card-title:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
}

card-title:active {
  text-decoration: underline;
  text-decoration-color: var(--main-black);
  text-transform: uppercase;
  color: var(--main-teal);
}


.card-title2:link {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1.2em;
  font-weight: 550;
}

.card-title2:visited {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1.2em;
  font-weight: 550;
}


.card-title2:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1.2em;
  font-weight: 550;
}

card-title2:active {
  text-decoration: underline;
  text-decoration-color: var(--main-black);
  text-transform: uppercase;
  color: var(--main-teal);
  font-size: 1.2em;
  font-weight: 550;
}

.card-text2 {
  color: var(--main-black)
}




/* Navigation Bar  */

#nav-bar-dropdown {
  background-color: #c1ccf0;
}

.nav-bar-color {

  background: var(--main-purple);
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
}

#nav-bar-toggler {
  color: var(--main-white);
}


#nav-item
{
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  color: var(--main-white);
  text-shadow: 1px 1px 3px #292637;
  font-size: 1.4rem;
  font-weight: 400;
}

.nav-item-dropdown a:hover {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: .5rem;
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

#nav-item-dropdown
{
  display: flex;
  align-items: start;
  justify-content: center;
  padding: .5rem;
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 400;
}

li.dropdown {
  text-indent: 0;
}



#nav-item-active
{
  padding: 1em 1.5em 1em 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
  color: var(--main-white);
  text-shadow: 1px 1px 3px #292637;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: var(--main-teal);
}

li #nav-item-active {
  text-indent: 0;
}






/* Welcome Section  */

#welcome-section
{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: start;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
  padding-top: 8rem;

}

.welcome-title {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  line-height: 1.25;
  color: var(--main-white);
  text-align: center;
}

.welcome-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  line-height: 1.5;
  color: var(--main-white);
  text-align: center;
}

@media only screen and (max-width: 450px) {
  
  {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
  
  }
 
 }



#about-n 
{
  background-color: var(--main-white);
  color: var(--main-black);
  padding: 0;
  font-size: 150%;
}


/* About Section  */

#about
{
  padding-left: 85px;
}

#aboutdes {
  padding-left: 0px;

}



/* About Section on Tablets  */

@media only screen and (max-width: 1280px) {
  
  #about
 {
   display: block;
   background-color: var(--main-white);
   color: var(--main-black);
   padding-top: 1.5rem;
   font-size: 150%;
 }

 #aboutdes {
  padding-left: 35px;

}
 
 }



/* About Section on Tablets  */


@media only screen and (max-width: 991px) {
  
  .title
 {
   padding: 1.5rem 2.5rem 1rem 4.5rem;
 }

 #title2
 {
   padding: 1.5rem 3.5rem 1rem 4.5rem;
 }

#about {
  padding-left: 0;

}

 #aboutdes {
  padding-left: 0;

}
 
 }




/* Work Section  */



#work {
  background-color: var(--main-purple);
  color: var(--main-white);
}




/* Portfolio Section */

#portfolio{
  background-color: var(--main-black);
  color: var(--main-white);
}

 
/* footer section */

#footer
{
    background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);

}

 #footer-intro
{
  text-align: left;
  color: var(--main-white);
  font-size: 1.5em;
  line-height: 1.2;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;

}

#footer-intro2
{
  text-align: center;
  color: var(--main-white);
  font-size: 2rem;
  margin: 0 0 1rem 0;
  line-height: 1.1;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

img.footer-images {
  max-width: 12vw;
  height: 40px;
  margin: .5em;
}

.contact-info {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

#contact-button {
  color: var(--main-white);
  border-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
#contact-button:active {
  color: var(--main-white);
  border-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 0px 3px 15px rgba(30, 170, 174, .8);
}


#contact-button:focus {
  color: var(--main-white);
  border-color: var(--main-white);

  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 0px 3px 15px rgba(30, 170, 174, .8);
}

#contact-button:hover {
  color: var(--main-white);
  border-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 0px 3px 15px rgba(30, 170, 174, .8);
}


#footer-form {
  background-color: var(--main-white);
  background-color: (var(--main-black), .7);
  color: var(--main-white);
}

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 16px;
  }

.footer-border {
  border-left: solid 1.5px var(--main-teal);
}

#footer-text {
  line-height: 1.1;
  font-size: large;
}


/* scope tag buttons */


.tag1 {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #F19233;
    box-shadow: 0 0 3px #F19233;
}

.orange {
  color: #F19233;
}

.tag2 {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #EC6333;
    box-shadow: 0 0 3px #EC6333;
}

.red-organge {
  color:#EC6333;
}

.tag3 {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #44857D;
    box-shadow: 0 0 3px #44857D;
}

.orange {
  color: #F19233;
}

.tag4 {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #F19233;
    box-shadow: 0 0 3px #F19233;
}

.teal-light {
  color:#44857D;
}

.project-tag {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #133D5A;
    box-shadow: 0 0 3px #133D5A;
}

.project-button {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #d5dadd;
    box-shadow: 0 0 3px #d5dadd;
    display: block;
    width: 100%;
    text-align: left;
}

.project-button-current {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #133D5A;
    box-shadow: 0 0 3px #133D5A;
    display: block;
    width: 100%;
    text-align: left;
}

.project-button:hover {
  font-family: inherit;
  font-size: 70%;
  padding: 0.5em 1em;
  background-color: white;
  border: solid var(--main-black) 1px;
  border-radius: 5px;
  margin: .75em 0 .75em 0;
  border-color: #EC6333;
    box-shadow: 0 0 3px #EC6333;
    display: block;
    width: 100%;
    text-align: left;
}

.dark-blue {
  color:#133D5A;
}

.border-right {
  border-right: dotted 2px var(--main-black);
}



/* Work Expample */

.work-title {
  font-weight: 450;
  text-transform: uppercase;

}

.work-subtitle {
  font-weight: 150;
  font-style: italic;
}

.portfolio-subtitle {
  font-weight: 150;
  font-style: italic;

}

.work-example {
  background-color: var(--main-white);
}

li.outcomes {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;}

li.indent {
margin-left: 2em;
}

li.indent2 {
  margin-left: 1em;
  }

/*Profile Card 5*/

.project-preview-title {
  font-size: 2rem;
  text-align: center;
  color: var(--main-white);
}

.project-preview-section {
  background-color: var(--main-black);
}

.profile-card-5{
  margin-top:20px;
  border: solid var(--main-teal) 1px;
}
.profile-card-5 .btn{
  border-radius:2px;
  text-transform:uppercase;
  font-size: .75rem;
  padding:7px 20px;
  color: var(--main-black);
  background-color: var(--main-white);
  border-color: var(--main-black);
 
}
.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  
}
.profile-card-5 .card-img-block img{
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
  color:#4E5E30;
  font-weight:600;
}
.profile-card-5 p{
  font-size: 1em;
  font-weight:300;
}
.profile-card-5 .btn-primary:link{
  background-color: var(--main-white);
  border-color:var(--main-black);

}

.profile-card-5 .btn-primary:visited{
  background-color: var(--main-white);
  border-color:var(--main-black);

}

.profile-card-5 .btn-primary:hover{
  background-color: var(--main-black);
  border-color:var(--main-white);

}

.profile-card-5 .btn-primary:active{
  background-color: var(--main-black);
  border-color:var(--main-white);

}





/* Project Example */
.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* Flickity Slider */

.full {
  width: 100%; /* full width */
  height: auto; /* height of carousel */
  margin-right: 2rem;
  margin-left: 2rem;
}

/* IMage Caption */

.caption {
  font-size: .75em;
  font-style: italic;
}

#border {
  border: 2px solid var(--main-teal);
vertical-align: bottom;
display: block;
}