/* Custom properties/variables  */

* {
  margin: 0;
  padding: 0;
}



:root {
  --main-white: #F1EDED;
  --main-purple: #4061D2;
  --main-black: #292637;
  --main-teal: #39D8DE;
}


p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

li {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}


/* Navigation Bar  */


#nav-bar
{
  display: flex;
  height: 75px;
  width: 100%;
  background: var(--main-purple);
  justify-content: flex-end;
  align-items: center;
  
}

.nav-item
{
  font-size: 250%;
  
}

#nav-item
{
  margin-left: 2vw;
  margin-right: 50px;
  margin-bottom: 2vh;
  margin-top: 2vh;
  text-transform: uppercase;
  color: var(--main-white);
  text-shadow: 1px 1px 3px #292637;
  font-size: 150%;
}


/* Welcome Section  */

#welcome-section
{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
}

#welcomesection, h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  line-height: 1.5;
}

#welcome-item
{
  color: var(--main-white);
  text-align: center;
  line-height: 2;
  font-size: 200%;
  
}

#welcome-text, p {
  weight: 100;
}



/* About Section  */

#about
{
  display: flex;
  flex-direction: row;
  background-color: var(--main-white);
  color: var(--main-black);
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 150%;
  align-items: flex-start;
}


h1.about
{
  text-transform: uppercase;
}

.about 
{
  line-height: 150%;
  flex: 2 7;
  padding-right: 3rem;
  
}

.about2 
{
  line-height: 150%;
  padding-right: 4rem;
  flex: 12 1;
  
}

.about3
{
  flex: 1 0;
}

img.about3
{
  max-width: 640px;
  width: 35%;
}

#bulletindent
{
  padding-left: 50px;
}



/* Project Section  */

 #projectsintro
{
  display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 150%;
}

.project-des {
  display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-size: 150%;
}

p.project-des {
  weight: 100;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  
  
}

.project
{
  background-color: var(--main-white);
  border-radius: 8px;
  margin: 1rem; 
  color: var(--main-black);
  flex: calc(100% / 3);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  
}

.projectimage
{
  width: 100%;
}

h3.project-title {
  padding: .75rem;
  text-align: center;
   font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

.projectsoutro
{
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 60px;
  padding-bottom: 4rem;
}

button.outro {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-black);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  transition-duration: 0.4s;
}

button.outro:hover {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-white);
  background-color: var(--main-black);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  transition-duration: 0.4s;
}



/* Work Section */

 #workintro
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 150%;
  
}

#work
{
  display: flex;
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.work
{
  background-color: var(--main-white);
  border-radius: 8px;
  margin: 1rem; 
  color: var(--main-black);
  flex: calc(100% / 3);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
}

.workoutro
{
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 60px;
  padding-bottom: 4rem;
}

button.outro2 {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-black);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
 
}
  
  button.outro2:hover {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-white);
  background-color: var(--main-purple);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  transition-duration: 0.4s;
} 

 



/* Nav, Welcome, & About on Phones  */


@media only screen and (max-width: 400px) {
  
  #nav-bar
{
  display: flex;
  height: 75px;
  width: 100%;
  background: var(--main-purple);
  justify-content: center;
  align-items: center;
  
}


#nav-item
{
  margin: 1rem;
  text-transform: uppercase;
  color: var(--main-white);
  text-shadow: 1px 1px 3px #292637;
  font-size: 125%;
}
  
  #welcome-section
{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
}
  
  #welcome-item
{
  color: var(--main-white);
  text-align: center;
  line-height: 1;
  padding: 1em;
}
  
   #about
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--main-white);
  color: var(--main-black);
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1em;
  flex-wrap: wrap;
}


h1.about
{
  text-transform: uppercase;
}

.about 
{
  line-height: 150%;
  flex: 2 1;
}

.about2 
{
  line-height: 150%;
  flex: 12 7;
  font-size: 1em;
  
}

.about3
{
  display: none;
}

img.about3
{
  display: none;
}

#bulletindent
{
  padding-top: .5em;
  margin: -1em;
  
}
  
  #projectsintro
{
  display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 150%;
}
  
  .project-des {
   display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 2rem;

}
  
}

/* Welcome, Projects, & Work on Big Phones */

@media only screen and (max-width: 800px) {
  
  #welcome-section
{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #292637 100%);
}

#welcomesection, h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

#welcome-item
{
  color: var(--main-white);
  text-align: center;
  line-height: 2;
  font-size: 1.5em;
  
}

#welcome-text, p {
  weight: 100;
}

#projectsintro
{
  display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 150%;
}

.project-des {
   display: flex;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-size: 150%;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  
  
}

.project
{
  background-color: var(--main-white);
  border-radius: 8px;
  margin: 2rem; 
  color: var(--main-black);
  flex: calc(100% / 2);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  
}

.projectimage
{
  width: 100%;
}

h3.project-title {
  padding: .75rem;
  text-align: center;
   font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

.projectsoutro
{
  background-color: var(--main-purple);
  color: var(--main-white);
  padding-left: 60px;
  padding-bottom: 4rem;
}

button.outro {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-black);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
 
}
  
  button.outro:hover {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--main-white);
  background-color: var(--main-black);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  transition-duration: 0.4s;
} 

#workintro
{
  display: flex;
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 60px;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-size: 150%;
}

.work-des {
   display: flex;
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 60px;
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-size: 150%;
}

#work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  
  
}

.work
{
  background-color: var(--main-white);
  border-radius: 8px;
  margin: 2rem; 
  color: var(--main-black);
  flex: calc(100% / 2);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  
}

.projectimage
{
  width: 100%;
}

h3.project-title {
  padding: .75rem;
  text-align: center;
   font-family: 'Roboto', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
}

.workoutro
{
  background-color: var(--main-black);
  color: var(--main-white);
  padding-left: 60px;
  padding-bottom: 4rem;
}

}

/* About Section on Tablets  */


@media only screen and (max-width: 1000px) {
  
 #about
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--main-white);
  color: var(--main-black);
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 150%;
  flex-wrap: wrap;
}


h1.about
{
  text-transform: uppercase;
}

.about 
{
  line-height: 150%;
  flex: 2 1;
  padding-bottom: 2rem;
}

.about2 
{
  line-height: 150%;
  flex: 12 7;
  
}

.about3
{
  display: none;
}

img.about3
{
  display: none;
}

#bulletindent
{
  padding-left: 50px;
}

}